*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
::-webkit-scrollbar {
    height: 12px;
    width: 6px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    
}

body{
    background-color: #fff;
    width: 497px;
    height: 770px;

}

.header{
    width: 100%;
    height: 528px;
}

.header__imageWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./content/2.jpg);
    background-size: cover;
}

.header__avatar{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 4px solid white;
}

.contentWrapper{
    padding: 12px;
    height: 100%;
}
.mainWrapper{
    height: 100%; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
}

.content{
    padding: 35px 25px 20px 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.content h1{
    font-size: 36px;
    font-weight: 700;
}

.content__taskWrapper{
    display: flex;
    color: red;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 10px;   
    padding-right: 25px;
}
.content__taskWrapper button{
    font-size: 14px;
}

.content__taskMain{
    display: flex;
    font-size: 24px;
}
.content__tasksContainer{
    max-height: 180px;
    padding-top: 27px;
    padding-left: 5px;  
    overflow-y: scroll;
     
}
.content__task{
    align-items: center;
    margin-bottom: 0;
    margin-left: 15px;
}

.content__taskWrapper input{
    margin-bottom: 0;
    
    width: 18px;
    min-height: 36px;
}

.content_task-disable{
    text-decoration: line-through;
    color: green;
}


.content__tasksWrapper{
    display: flex;
    flex-direction: column;
    
}

.content__buttons{
    display: flex;
    flex-direction: column;
}
.content__buttons > *{
    font-size: 24px;
    border-radius: 10px;
}

.content__input{
    border: 3px solid #cecece;
    outline: none;
    text-align: center;
    height: 60px;
    margin-bottom: 15px;
}
.content__addTaskButton{
    height: 65px;
    
}
